header h1 {
	text-align: center;
}
table {
    table-layout: fixed;
}
td{
    word-wrap: break-word;
    white-space: normal;
}
body {
	padding-left: 10em;
}
#signinbtn i {
	position: absolute;
	top: 0;
	right: 0;
	height: 2em;
	width: 2em;
	margin-top: 0.5em;
	margin-right: 0.8em;
	padding-top: .2em;
	border-radius: 1em;
	border: 2px solid black;
}
#signoutbtn i {
	position: absolute;
	top: 0;
	right: 0;
	height: 2em;
	width: 2em;
	margin-top: 0.5em;
	margin-right: 0.8em;
	padding-top: .2em;
	border-radius: 1em;
	border: 2px solid black;
	display: none;
}
#viewuserbtn i {
	position: absolute;
	top: 0;
	left: 0;
	height: 2em;
	width: 2em;
	margin-top: 0.5em;
	margin-left: 0.8em;
	padding-top: .2em;
	border-radius: 1em;
	border: 2px solid black;
	display: none;
}
#reloadbtn i {
	position: absolute;
	top: bottom;
	right: 0;
	height: 2em;
	width: 2em;
	margin-top: 0.5em;
	margin-right: 0.4em;
	padding-top: .2em;
	border-radius: 1em;
	border: 2px solid black;
	display: none;
}
#userstudentnumber {
	text-align: center;
}
#userfullname {
	text-align: center;
}
#userpassword {
	text-align: center;
}
#catagorie {
	margin-left: 32%;
	border-radius: 1em;
}
#createquestion {
	margin-left: 28%;
	display: none;
}
#loading {
	display: none;
	text-align: center;
	margin: 0;

}
#loadinglogin {
	display: none;
	text-align: center;
	margin: 0;

}
.editquestion {
	display: none;
}
.logout {
	display: none;
}
.viewuser {
	display: none;
}
#reloadquestion {
	display: none;
}
#table {
	display: none;
}
#errormessage {
	display: none;
}
#successmessage {
	display: none;
}
#studentnumbererr {
	display: none;
}
#passworderr {
	display: none;
}
#edituserstudentnumbererr {
	display: none;
}
#edituserpassworderr {
	display: none;
}
#editusernameerr {
	display: none;
}
#createquestionerr {
	display: none;
}
#editquestionerr {
	display: none;
}